/* You can add global styles to this file, and also import other style files */


*
{
    margin:0;
    padding:0;

}

img
{
    width:100%;
    height: 550px;
    object-fit:cover;
}

.container
{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.container > h2
{
    font-size:3rem;
    margin:20px 0;
}


.hide
{
    display: none;
}

.grid
{
    display: grid;
}

.grid-col-4
{
    grid-template-columns: repeat(4,1fr);
    column-gap: 5px;;
}

.card
{  
    padding:70px 0;
    background-color: rgb(250, 245, 232);
    width: 100%;
    margin-bottom: 20px;
}